<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<header class="header">
  <div class="container">
    <div class="header_menu">
      <%= image_tag "logo.svg", width: 200 %>

      <nav id="menu">
      <li><%= link_to "Listas", lists_path, class:"btn-back" %></li>
      </nav>

      </div>
    </div>
  </header>

    <%= yield %>
  </body>
</html>
